:root {
  /* Set fade in duration */
  --fade-time: 0.5s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: aliceblue;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: whitesmoke;
  padding-bottom: 10px;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5 rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: lightslategray;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 400px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

.container {
  max-width: 760px;
  margin: auto;
  border: #fff solid 3px;
  background: linear-gradient(to left, #ff5f6d, #ffc371);
}

.main-img img,
.imgs img {
  width: 100%;
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 200;
  color: white;
  text-align: center;
  line-height: 90vh;
}

.splash.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: -10;
  color: white;
  text-align: center;
  line-height: 90vh;
  transition: all 0.5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}
#welcome {
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 50%;
  background-color: #333;
  color: whitesmoke;
  position: fixed;
  top: 40%;
  left: 30%;
  margin-top: -80px;
  margin-left: -50px;
  padding: 10px;
  font-weight: lighter;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.imgs img {
  cursor: pointer;
}

/* Fade in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn var(--fade-time) ease-in 1 forwards;
}

/* Media Queries */
@media (max-width: 600px) {
  .imgs {
    grid-template-columns: repeat(2, 1fr);
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  transition: all 0.5s ease;
}

body {
  background: linear-gradient(to left, #ff5f6d, #ffc371);
  font-family: sans-serif;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  background: linear-gradient(to left, #ff5f6d, #ffc371);
  border-style: none;
}

#art-title {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery_button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#joke-display {
  font-weight: 400;
}
